.container {
    background-color: rgba(253, 253, 253, 0.171);
    height: 250px;
    width: 300px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    padding: 15px;
    
}

.titulo {
    color: orangered;
    text-shadow: 1px 1px 2px black;
    font-family: 'Trebuchet MS', sans-serif;

}

.subtitulo {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    margin-top: 15px;
}

.button {
    background-color: orangered;
    width: 240px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: white;
    size: large;
    margin-top: 30px;
    cursor: pointer;
    transition: transform 0.2s;
    
}

.button:active{
    transform: translateY(2px);
}