.detailCard {
    display: inline-block;
    flex-direction: row;
    background-color: rgba(252, 250, 250, 0.479);
    width: 50%;
    height: fit-content;
    padding: 30px;
}

.nombre {
    color: rgb(88, 40, 11);
    display: inline-flex;
    margin-bottom: -20px
}

.id {
    color: rgb(122, 61, 25);
    margin-bottom: -20px;
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.img {
    justify-content: center;
    width: 75%;
    height: 350px;
    margin: 20px;
}


.info {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: fit-content;
    text-align: justify;
}

.h3 {
    margin-bottom: -15px;
    color: rgb(160, 47, 6)
}

.extraInfo {
    color: rgb(41, 29, 29);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 0;
}

.back {
    background-color: rgb(190, 55, 6);
    border: none;
    border-radius: 8px;
    color: white;
    width: 100px;
    height: 30px;
    cursor: pointer;
    
}

.h5 {
    margin-left: 20px
}

