label {
    color: white;
    display: block;
}

.error {
    color: rgb(160, 47, 6);
    display: block;

}

.container {
    display: inline-block;
    flex-direction: row;
    background-color: rgba(252, 250, 250, 0.479);
    width: 30%;
    height: 100dvh;
    padding: 20px;
    
}
/* 
.titulo {
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:inline-block;
    background-color: rgba(216, 107, 67, 0.753);
    width: 100%;
    height: 60px;
    margin-top: -20px;
    text-align: center;

} */

textarea {
    width: 70%;
    height: 15dvh;
    background-color: rgb(204, 193, 175);
    border-radius: 10px;
    border: none;
    padding: 1px;
}

input {
    width: 70%;
    background-color: rgb(204, 193, 175);
    border-radius: 10px;
    border: none;
    padding: 2px;
    height: 24px;
}

.select {
    width: 70%;
    background-color: rgb(204, 193, 175);
    border-radius: 10px;
    padding: 2px;
    height: 24px;

}


.contenedordietas {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 5px;
}

.divDietas {
    background-color: black;
    color:azure;
    width: fit-content;
    height: 20px;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    padding: 2px;
    
}

.closeBtn {
    background-color: black;
    border: none;
    border-radius: 1px;
    margin-left: 5px;
    color: white   
}

.submit {
    background-color: rgb(190, 55, 6);
    border: none;
    border-radius: 8px;
    color: white;
    width: 70%;
    height: 30px;
    margin-top: 10px;
}