label {
    color: white;
    display: block;
}

.error {
    color: rgb(160, 47, 6);
    display: block;

}

.container {
    display: inline-block;
    flex-direction: row;
    background-color: rgba(252, 250, 250, 0.479);
    width: 30%;
    min-height: 100vh;
    padding: 20px;
    margin-top: -10px;
    
}

.titulo {
    color: white;
    font-family: 'Lucida Sans', Arial, sans-serif;
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    width: 100%;
    height: 10vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    /* text-shadow: 1px 1px 2px brown, 0 0 1em orangered, 0 0 0.2em whitesmoke;; */
    text-shadow: black 0 2px;

}

textarea {
    width: 70%;
    height: 15vh;
    background-color: rgb(204, 193, 175);
    border-radius: 10px;
    border: none;
    padding: 3px;
}

input {
    width: 70%;
    background-color: rgb(204, 193, 175);
    border-radius: 10px;
    border: none;
    padding: 2px;
    height: 24px;
    font-family: monospace;
}

.select {
    width: 70%;
    background-color: rgb(204, 193, 175);
    border-radius: 10px;
    padding: 2px;
    height: 24px;

}


.contenedordietas {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 5px;
}

.divDietas {
    background-color: black;
    color:azure;
    width: fit-content;
    height: 20px;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    padding: 2px;
    
}

.closeBtn {
    background-color: black;
    border: none;
    border-radius: 1px;
    margin-left: 5px;
    color: white;
    cursor: pointer;
}

.submit {
    background-color: rgb(190, 55, 6);
    border: none;
    border-radius: 8px;
    color: white;
    width: 70%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.submit:active{
    transform: translateY(2px);
}

.healthScore {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: fit-content;
    border-radius: 3px;
    color: white;

}

.preview {
    width: 70%;
    height: 200px;
    border: 2px dashed white;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.img {
    width: 220px;
    height: 200px;
    

}